<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Empowering Open Source Innovation</h2>
                <hr class="light">
                <p class="text-faded">Our complete platform brings Open Source software to students, classrooms, and districts, allowing for unprecedented cost savings, security, and flexibility.  </p>
                <a href="#advantages" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
