<section class="no-padding" id="advantages">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cost Savings
                            </div>
                            <div class="project-name">
                                Free and open source software massively reduces costs without impacting performance - in fact, many things will work better than ever!
                            </div>
                        </div>
                    </div>
                </a>
            </div>

	    <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
			    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cloud Enabled
                            </div>
                            <div class="project-name">
                                    Your data, everywhere.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Long Term Support
                            </div>
                            <div class="project-name">
                                Stable solutions shouldn't be obsolete in a couple years.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Secure by Default
                            </div>
                            <div class="project-name">
				    One of the most secure experiences possible, without unsavory trade-offs.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Proven Innovation
                            </div>
                            <div class="project-name">
                                    Creative solutions to important problems, because students deserve the best.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rolling Updates
                            </div>
                            <div class="project-name">
                                Updates deployed as soon as they come out - never wait for the latest version again.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
